## Descripción del conjunto de datos

In [21]:
import pandas as pd  
import os
from IPython.display import display, HTML

# Tamaño inicial de los datos

In [22]:

directory = os.getcwd()
files = os.listdir(directory + '/data')

data = []
for f in files:
    if f != 'DIVERSIFICADOS.csv':
        dataframe = pd.read_csv(directory + '/data/' + f)
        data.append((f, dataframe.shape[0], dataframe.shape[1]))

df = pd.DataFrame(data, columns=['Nombre del archivo', 'Filas', 'Columnas'])
display(HTML(df.to_html(index=False)))

# Limpieza

## Listado

Sin duda alguna todas las variables necesitan de limpieza ya que en todas las variables se han encontrado valores nulos.

Se debe de tener cuidado con los nombres de los institutos ya que hay muchas faltas ortográficas.

Se han encontrado un patrón de datos nulos como lo son ***"-"*** que estan de forma consecutiva, strings sin caracteres, Nans, etc en las siguientes variables:

- Establecimiento
- Distrito
- Telefono
- Director
- Supervisor
- Dirección

## Estrategia
- Código: No requiere limpieza.
- Distrito: Sustituir valores en blanco con NA
- Departamento: 
	- Eliminar espacios al inicio y al final.
	- Convertir todo a mayúsculas.
	- Hacer un encoding numérico para facilitar el procesamiento.
- Municipio: 
	- Eliminar espacios al inicio y al final.
	- Convertir todo a mayúsculas.
	- Hacer un encoding numérico.
- Establecimiento, Dirección:
	- Eliminar espacios al inicio y al final.
	- Convertir todo a mayúsculas.
- Teléfono:
	- Tomar en cuenta solo un teléfono cuando se vean dos. `79540830-79540909`.
	- Asegurar que tengan el número correcto de dígitos, de lo contrario es un teléfono inváldo y será reemplazado por `NA`.
- Supervisor, Director:
	- Tomar en cuenta valores como `--` como `NA`.
- Sector, Area, Status, Modalidad, Joranda, Plan:
	- Hacer encoding numérico.
- Nivel: (SARA O Cris)

In [23]:
## Distrito 

data = pd.read_csv('data/DIVERSIFICADOS.csv', sep=',', encoding='latin-1')

## Remplazamos los espacios por NA
data = data.replace(r'^\s*$', pd.NA, regex=True)

In [24]:
## DePArtamento
from sklearn.preprocessing import LabelEncoder

# Getting the unique mapping of the original department values to the encoded values
department_mapping = data['DEPARTAMENTO'].str.strip().str.upper().unique()
department_mapping = {dep: idx for idx, dep in enumerate(department_mapping)}

# Displaying the department mapping
for key, value in department_mapping.items():
    print(key, ' : ', value)


#Trim spaces, convert to uppercase, and encode numerically
data['DEPARTAMENTO'] = data['DEPARTAMENTO'].str.strip().str.upper()
dep_encoder = LabelEncoder()
data['DEPARTAMENTO'] = dep_encoder.fit_transform(data['DEPARTAMENTO'])

ALTA VERAPAZ  :  0
BAJA VERAPAZ  :  1
CHIMALTENANGO  :  2
CHIQUIMULA  :  3
CIUDAD CAPITAL  :  4
EL PROGRESO  :  5
ESCUINTLA  :  6
HUEHUETENANGO  :  7
IZABAL  :  8
JALAPA  :  9
JUTIAPA  :  10
PETEN  :  11
QUETZALTENANGO  :  12
QUICHE  :  13
RETALHULEU  :  14
SACATEPEQUEZ  :  15
SAN MARCOS  :  16
SANTA ROSA  :  17
SOLOLA  :  18
SUCHITEPEQUEZ  :  19
TOTONICAPAN  :  20
ZACAPA  :  21

In [25]:

# Getting the unique mapping of the original department values to the encoded values
mun_mapping = data['MUNICIPIO'].str.strip().str.upper().unique()
mun_mapping = {dep: idx for idx, dep in enumerate(mun_mapping)}

# Displaying the department mapping
for key, value in mun_mapping.items():
    print(key, ' : ', value)

# Municipio: Trim spaces, convert to uppercase, and encode numerically
data['MUNICIPIO'] = data['MUNICIPIO'].str.strip().str.upper()
mun_encoder = LabelEncoder()
data['MUNICIPIO'] = mun_encoder.fit_transform(data['MUNICIPIO'])

COBAN  :  0
SANTA CRUZ VERAPAZ  :  1
SAN CRISTOBAL VERAPAZ  :  2
TACTIC  :  3
TAMAHU  :  4
SAN MIGUEL TUCURU  :  5
PANZOS  :  6
SENAHU  :  7
SAN PEDRO CARCHA  :  8
SAN JUAN CHAMELCO  :  9
LANQUIN  :  10
SANTA MARIA CAHABON  :  11
CHISEC  :  12
CHAHAL  :  13
FRAY BARTOLOME DE LAS CASAS  :  14
LA TINTA  :  15
RAXRUHA  :  16
SALAMA  :  17
SAN MIGUEL CHICAJ  :  18
RABINAL  :  19
CUBULCO  :  20
GRANADOS  :  21
SANTA CRUZ EL CHOL  :  22
SAN JERONIMO  :  23
PURULHA  :  24
CHIMALTENANGO  :  25
SAN JOSE POAQUIL  :  26
SAN MARTIN JILOTEPEQUE  :  27
SAN JUAN COMALAPA  :  28
SANTA APOLONIA  :  29
TECPAN GUATEMALA  :  30
PATZUN  :  31
SAN MIGUEL POCHUTA  :  32
PATZICIA  :  33
SANTA CRUZ BALANYA  :  34
ACATENANGO  :  35
SAN PEDRO YEPOCAPA  :  36
SAN ANDRES ITZAPA  :  37
PARRAMOS  :  38
ZARAGOZA  :  39
EL TEJAR  :  40
CHIQUIMULA  :  41
SAN JOSE LA ARADA  :  42
SAN JUAN ERMITA  :  43
JOCOTAN  :  44
CAMOTAN  :  45
OLOPA  :  46
ESQUIPULAS  :  47
CONCEPCION LAS MINAS  :  48
QUEZALTEPEQUE  :  49
SAN JACINTO  :  50
IPALA  :  51
ZONA 1  :  52
ZONA 2  :  53
ZONA 3  :  54
ZONA 4  :  55
ZONA 5  :  56
ZONA 6  :  57
ZONA 7  :  58
ZONA 8  :  59
ZONA 9  :  60
ZONA 10  :  61
ZONA 11  :  62
ZONA 12  :  63
ZONA 13  :  64
ZONA 14  :  65
ZONA 15  :  66
ZONA 16  :  67
ZONA 17  :  68
ZONA 18  :  69
ZONA 19  :  70
ZONA 21  :  71
ZONA 24  :  72
GUASTATOYA  :  73
MORAZAN  :  74
SAN AGUSTIN ACASAGUASTLAN  :  75
SAN CRISTOBAL ACASAGUASTLAN  :  76
EL JICARO  :  77
SANSARE  :  78
SANARATE  :  79
SAN ANTONIO LA PAZ  :  80
ESCUINTLA  :  81
SANTA LUCIA COTZUMALGUAPA  :  82
LA DEMOCRACIA  :  83
SIQUINALA  :  84
MASAGUA  :  85
TIQUISATE  :  86
LA GOMERA  :  87
GUANAGAZAPA  :  88
SAN JOSE  :  89
IZTAPA  :  90
PALIN  :  91
SAN VICENTE PACAYA  :  92
NUEVA CONCEPCION  :  93
SIPACATE  :  94
HUEHUETENANGO  :  95
CHIANTLA  :  96
MALACATANCITO  :  97
CUILCO  :  98
NENTON  :  99
SAN PEDRO NECTA  :  100
JACALTENANGO  :  101
SAN PEDRO SOLOMA  :  102
SAN ILDEFONSO IXTAHUACAN  :  103
SANTA BARBARA  :  104
LA LIBERTAD  :  105
SAN MIGUEL ACATAN  :  106
SAN RAFAEL LA INDEPENDENCIA  :  107
TODOS SANTOS CUCHUMATAN  :  108
SAN JUAN ATITAN  :  109
SANTA EULALIA  :  110
SAN MATEO IXTATAN  :  111
COLOTENANGO  :  112
SAN SEBASTIAN HUEHUETENANGO  :  113
TECTITAN  :  114
CONCEPCION HUISTA  :  115
SAN JUAN IXCOY  :  116
SAN ANTONIO HUISTA  :  117
SAN SEBASTIAN COATAN  :  118
SANTA CRUZ BARILLAS  :  119
AGUACATAN  :  120
SAN RAFAEL PETZAL  :  121
SANTIAGO CHIMALTENANGO  :  122
SANTA ANA HUISTA  :  123
UNION CANTINIL  :  124
PETATAN  :  125
PUERTO BARRIOS  :  126
LIVINGSTON  :  127
EL ESTOR  :  128
MORALES  :  129
LOS AMATES  :  130
JALAPA  :  131
SAN PEDRO PINULA  :  132
SAN LUIS JILOTEPEQUE  :  133
SAN MANUEL CHAPARRON  :  134
SAN CARLOS ALZATATE  :  135
MONJAS  :  136
MATAQUESCUINTLA  :  137
JUTIAPA  :  138
EL PROGRESO  :  139
SANTA CATARINA MITA  :  140
AGUA BLANCA  :  141
ASUNCION MITA  :  142
YUPILTEPEQUE  :  143
ATESCATEMPA  :  144
JEREZ  :  145
EL ADELANTO  :  146
ZAPOTITLAN  :  147
COMAPA  :  148
JALPATAGUA  :  149
CONGUACO  :  150
MOYUTA  :  151
PASACO  :  152
SAN JOSE ACATEMPA  :  153
QUESADA  :  154
FLORES  :  155
SAN BENITO  :  156
SAN ANDRES  :  157
SAN FRANCISCO  :  158
SANTA ANA  :  159
DOLORES  :  160
SAN LUIS  :  161
SAYAXCHE  :  162
MELCHOR DE MENCOS  :  163
POPTUN  :  164
LAS CRUCES  :  165
EL CHAL  :  166
QUETZALTENANGO  :  167
SALCAJA  :  168
OLINTEPEQUE  :  169
SAN CARLOS SIJA  :  170
SIBILIA  :  171
CABRICAN  :  172
CAJOLA  :  173
SAN MIGUEL SIGUILA  :  174
SAN JUAN OSTUNCALCO  :  175
SAN MATEO  :  176
CONCEPCION CHIQUIRICHAPA  :  177
SAN MARTIN SACATEPEQUEZ  :  178
ALMOLONGA  :  179
CANTEL  :  180
HUITAN  :  181
ZUNIL  :  182
COLOMBA COSTA CUCA  :  183
SAN FRANCISCO LA UNION  :  184
EL PALMAR  :  185
COATEPEQUE  :  186
GENOVA COSTA CUCA  :  187
FLORES COSTA CUCA  :  188
LA ESPERANZA  :  189
PALESTINA DE LOS ALTOS  :  190
SANTA CRUZ DEL QUICHE  :  191
CHICHE  :  192
CHINIQUE  :  193
ZACUALPA  :  194
CHAJUL  :  195
SANTO TOMAS CHICHICASTENANGO  :  196
PATZITE  :  197
SAN ANTONIO ILOTENANGO  :  198
SAN PEDRO JOCOPILAS  :  199
CUNEN  :  200
SAN JUAN COTZAL  :  201
JOYABAJ  :  202
NEBAJ  :  203
SAN ANDRES SAJCABAJA  :  204
SAN MIGUEL USPANTAN  :  205
SACAPULAS  :  206
SAN BARTOLOME JOCOTENANGO  :  207
CANILLA  :  208
CHICAMAN  :  209
IXCAN  :  210
PACHALUN  :  211
RETALHULEU  :  212
SAN SEBASTIAN  :  213
SANTA CRUZ MULUA  :  214
SAN MARTIN ZAPOTITLAN  :  215
SAN FELIPE  :  216
SAN ANDRES VILLA SECA  :  217
CHAMPERICO  :  218
NUEVO SAN CARLOS  :  219
EL ASINTAL  :  220
ANTIGUA GUATEMALA  :  221
JOCOTENANGO  :  222
PASTORES  :  223
SUMPANGO  :  224
SANTO DOMINGO XENACOJ  :  225
SANTIAGO SACATEPEQUEZ  :  226
SAN BARTOLOME MILPAS ALTAS  :  227
SAN LUCAS SACATEPEQUEZ  :  228
SANTA LUCIA MILPAS ALTAS  :  229
MAGDALENA MILPAS ALTAS  :  230
SANTA MARIA DE JESUS  :  231
CIUDAD VIEJA  :  232
SAN MIGUEL DUENAS  :  233
ALOTENANGO  :  234
SAN ANTONIO AGUAS CALIENTES  :  235
SANTA CATARINA BARAHONA  :  236
SAN MARCOS  :  237
SAN PEDRO SACATEPEQUEZ  :  238
SAN ANTONIO SACATEPEQUEZ  :  239
COMITANCILLO  :  240
SAN MIGUEL IXTAHUACAN  :  241
CONCEPCION TUTUAPA  :  242
TACANA  :  243
SIBINAL  :  244
TAJUMULCO  :  245
TEJUTLA  :  246
SAN RAFAEL PIE DE LA CUESTA  :  247
NUEVO PROGRESO  :  248
EL TUMBADOR  :  249
SAN JOSE EL RODEO  :  250
MALACATAN  :  251
CATARINA  :  252
AYUTLA  :  253
OCOS  :  254
SAN PABLO  :  255
EL QUETZAL  :  256
LA REFORMA  :  257
PAJAPITA  :  258
IXCHIGUAN  :  259
SAN JOSE OJETENAM  :  260
SAN CRISTOBAL CUCHO  :  261
SIPACAPA  :  262
ESQUIPULAS PALO GORDO  :  263
RIO BLANCO  :  264
SAN LORENZO  :  265
LA BLANCA  :  266
CUILAPA  :  267
BARBERENA  :  268
SANTA ROSA DE LIMA  :  269
CASILLAS  :  270
SAN RAFAEL LAS FLORES  :  271
ORATORIO  :  272
SAN JUAN TECUACO  :  273
CHIQUIMULILLA  :  274
TAXISCO  :  275
SANTA MARIA IXHUATAN  :  276
GUAZACAPAN  :  277
SANTA CRUZ NARANJO  :  278
PUEBLO NUEVO VIÃAS  :  279
NUEVA SANTA ROSA  :  280
SOLOLA  :  281
SAN JOSE CHACAYA  :  282
SANTA MARIA VISITACION  :  283
SANTA LUCIA UTATLAN  :  284
NAHUALA  :  285
SANTA CATARINA IXTAHUACAN  :  286
SANTA CLARA LA LAGUNA  :  287
SAN ANDRES SEMETABAJ  :  288
PANAJACHEL  :  289
SAN ANTONIO PALOPO  :  290
SAN LUCAS TOLIMAN  :  291
SAN PABLO LA LAGUNA  :  292
SAN MARCOS LA LAGUNA  :  293
SAN JUAN LA LAGUNA  :  294
SAN PEDRO LA LAGUNA  :  295
SANTIAGO ATITLAN  :  296
MAZATENANGO  :  297
CUYOTENANGO  :  298
SAN FRANCISCO ZAPOTITLAN  :  299
SAN BERNARDINO  :  300
SAN JOSE EL IDOLO  :  301
SANTO DOMINGO SUCHITEPEQUEZ  :  302
SAMAYAC  :  303
SAN PABLO JOCOPILAS  :  304
SAN ANTONIO SUCHITEPEQUEZ  :  305
SAN GABRIEL  :  306
CHICACAO  :  307
PATULUL  :  308
SANTO TOMAS LA UNION  :  309
ZUNILITO  :  310
PUEBLO NUEVO  :  311
RIO BRAVO  :  312
SAN JOSE LA MAQUINA  :  313
TOTONICAPAN  :  314
SAN CRISTOBAL TOTONICAPAN  :  315
SAN FRANCISCO EL ALTO  :  316
SAN ANDRES XECUL  :  317
MOMOSTENANGO  :  318
SANTA MARIA CHIQUIMULA  :  319
SANTA LUCIA LA REFORMA  :  320
SAN BARTOLO AGUAS CALIENTES  :  321
ZACAPA  :  322
ESTANZUELA  :  323
RIO HONDO  :  324
GUALAN  :  325
TECULUTAN  :  326
USUMATLAN  :  327
CABAÃAS  :  328
SAN DIEGO  :  329
LA UNION  :  330
HUITE  :  331
SAN JORGE  :  332

In [26]:
# Establecimiento: Trim spaces, convert to uppercase
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].str.strip().str.upper()

data['ESTABLECIMIENTO'].sample(10)

6560                                    LICEO "SAN JOSÃ"
1680                                  COLEGIO MESOAMERICA
7097    LICEO URRUTIA CEEP, CENTRO EDUCATIVO EXPERIMEN...
3246                         COLEGIO CRISTIANO "EMMANUEL"
4147      INSTITUTO TÃCNICO INDUSTRIAL "ALBERT EINSTEIN"
4978    ESCUELA NORMAL DE MAESTRAS DE EDUCACION PARA E...
6661    INSTITUTO PRIVADO MIXTO "SAN ANDRÃS DE LA VILLA"
5698                    COLEGIO CRISTIANO INTEGRAL ISRAEL
1848                      COLEGIO EN COMPUTACION SAN JUAN
443                CENTRO DE ESTUDIOS MAGISTERIALES 'CEM'
Name: ESTABLECIMIENTO, dtype: object

In [27]:
# Dirección: Trim spaces, convert to uppercase
data['DIRECCION'] = data['DIRECCION'].str.strip().str.upper()
data['DIRECCION'].sample(10)

6656                           COLONIA ALEJOS 1-93 ZONA 1
1136                                       2A. CALLE 6-77
4297    117.5 CARRETERA INTERAMERICANA, BARRIO INTERAM...
3232                            CALLE BELICE PARCELA A-43
3700                                   CABECERA MUNICIPAL
6119                              2A. AVENIDA 1-34 ZONA 2
3294                                    1RA. CALLE ZONA 8
1614                                   15 CALLE 'A' 10-36
5500                                          CANTON ILOM
405     2A. CALLE Y 4A. AVENIDA ZONA 3 FRENTE AL CAMPO...
Name: DIRECCION, dtype: object

In [28]:
# Function to clean the "Telefono" column
def clean_telefono(telefono):
    # Splitting by '-' and taking the first part
    telefono = str(telefono).split('-')[0]
    
    # Checking if the length of the phone number is correct (e.g., 8 digits)
    if len(telefono) != 8:
        return 'NA'
    return telefono

# Applying the cleaning function to the "Telefono" column
data['TELEFONO'] = data['TELEFONO'].apply(clean_telefono)

# Displaying some examples from the cleaned "Telefono" column
data['TELEFONO'].sample(10)

4817    40379592
6736    52071811
4576    79264648
3862    79482254
2403    45872960
831     79424111
1337          NA
3520    50474960
5761    41333379
4578    55164373
Name: TELEFONO, dtype: object

In [34]:
## Supervisor, Director: Convert -- to NAs
data.replace(['---------------------------- ----------------------------------','----------------------------', '----------------------------------',
                           ',--------,', ',-------,', ',------,', ',----,', ',---,', ',--,',
                           '', ' ', '---', 'NaN', 'nan', 'None', 'none', 'null', 'Null', 'NULL','<NA>'], 
                          pd.NA, inplace=True)

data['DIRECTOR'].sample(10)

6136                     HILDA GABRIELA GUZMAN PEC
138               THELMA FLORIDALMA FERNANDEZ MOYA
3028    MILVIA EMPERATRIZ AGUILAR PAPPA DE MORALES
7076                             ISRAEL CHOCOJ YAC
3567            CENDY ELIZABETH VILLATORO CASTILLO
3974           MARIA EUGENIA MOLINA ALDANA DE PAIZ
6927                     JUAN ANTONIO PEREZ GARCIA
4353                                           NaN
2899               MIRNA RUTILIA ALVAREZ BOJORQUEZ
5139           JAIME AUGUSTO SANTISTEBAN BENAVENTE
Name: DIRECTOR, dtype: object

# Code Book

* **CODIGO** - (Cualitativo ordinal)
	- Descripción
	- Posibles valores
* **DISTRITO** - (Cualitativo nominal)
	- Descripción:
	- Posibles valores: 
* **DEPARTAMENTO** - (Cualitativo nominal)
	- Descripción:
	- Posibles valores: 
	- Encoding:
		- Guatemala - 0
		...
* **MUNICIPIO** - (Cualitativo nominal)
* **ESTABLECIMIENTO** - (Cualitativo nominal)
* **DIRECCIÓN** - (Cualitativo nominal)
* **TELÉFONO** - (Cualitativo nominal)
* **SUPERVISOR** - (Cualitativo nominal)
* **DIRECTOR** - (Cualitativo nominal)
* **NIVEL** - (Cualitativo ordinal)
* **SECTOR** - (Cualitativo nominal)
* **ÁREA** - (Cualitativo nominal)
* **STATUS** - (Cualitativo nominal)
* **MODALIDAD** - (Cualitativo nominal)
* **JORNADA** - (Cualitativo nominal)
* **PLAN** - (Cualitativo nominal)
* **DEPARTAMENTAL** - (Cualitativo nominal)